
      /*body {
        padding-top: 20px;
        padding-bottom: 60px;
      }*/
/*      .bot-background{
        background: 
        radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
        background-color: slategray;
        background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
      }*/
      .bot-background{
        background:url("../img/escheresque.png");
        repeat;
      }
      /* Custom container */
      #composer{
        background:url("../img/text.png")
        repeat;
      }
      .container > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;

      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
     .navbar .nav {
        margin: 0;
        display: table;
        width: 80%;
      }
      
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none !important; 
      }

      .navbar .nav li a {
        /*font-weight: bold;*/
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);




    }
    .carousel img {
    	position: absolute;
    	top: 0;
    	left: 0;
    	min-width: 100%;
    	height: 500px;
    }
    .carousel .container {
position: relative;
z-index: 9;
}

    .carousel .item {
    	height: 500px;
    }
    .carousel-caption {
background-color: transparent;
position: static;
max-width: 550px;
padding: 0 20px;
margin-top: 200px;
}
.container-fluid {
padding-right: 0px !important; 
padding-left: 0px !important;
}
      .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
      }
      .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
      }
      .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
      }



